*.class
/target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
clockprograma-1.txt
clockprograma0.txt
clockprograma1.txt
programa-1.txt
programa0.txt
programa1.txt
programa2.txt
programa22.txt
